# --- Jupyter Notebook Specifics ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/
# Prevents conflicts if you use interactive python files
*.pyc

# --- Python & Environments ---
__pycache__/
*.py[cod]
*$py.class
# Virtual environments
.venv/
venv/
env/
.env

# --- IPython ---
.ipython/

# --- Profiles ---
profile_default/
ipython_config.py

# --- IDEs and Editors ---
.idea/
.vscode/
*.swp

# --- Data & Large Files (Highly Recommended!) ---
# Best practice is to keep raw data out of Git. 
# Unleash these if you keep data in folders named 'data' or 'inputs'
data/
# inputs/
*.csv
*.xlsx
# *.pkl
*.sqlite
*.json

# --- OS Specific Files ---
.DS_Store
Thumbs.db

# --- Other Files ---
notebooks/QCommerce_Portfolio_Ready.ipynb
