# --- Jupyter Notebook Specifics ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/
*.pyc

# --- Python & Environments ---
__pycache__/
*.py[cod]
*$py.class
# Virtual environments
.venv/
venv/
env/
.env

# --- IPython ---
.ipython/

# --- Profiles ---
profile_default/
ipython_config.py

# --- IDEs and Editors ---
.idea/
.vscode/
*.swp

# --- Data & Large Files (Highly Recommended!) ---
data/
# inputs/
*.csv
*.xlsx
# *.pkl
*.sqlite
*.json

# --- OS Specific Files ---
.DS_Store
Thumbs.db
